# Hadoop binaries & Winutils
hadoop/

# Raw and Output Data Directories
data/

# Python cache & virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/
ENV/

# IDE & Operating System files
.vscode/
.idea/
.DS_Store
Thumbs.db
